Find the Dataset and explanation at: https://www.kaggle.com/tboyle10/working-with-json-files

In [1]:
import numpy as np
import pandas as pd
import ijson
from pandas.io.json import json_normalize

In [5]:
%%bash
head roam_prescription_based_prediction.json

Couldn't find program: 'bash'

In [6]:
# read in data
raw_data = pd.read_json("roam_prescription_based_prediction.jsonl", 
                        lines=True, 
                        orient='columns')

In [9]:
print(raw_data.shape)

(239930, 3)

In [20]:
raw_data.head(1)

,cms_prescription_counts,npi,provider_variables
0,"{'DOXAZOSIN MESYLATE': 26, 'MIDODRINE HCL': 12...",1295763035,"{'settlement_type': 'non-urban', 'generic_rx_c..."

In [10]:
provider = pd.DataFrame([md for md in raw_data.provider_variables])
provider.head()

,brand_name_rx_count,gender,generic_rx_count,region,settlement_type,specialty,years_practicing
0,384,M,2287,South,non-urban,Nephrology,7
1,0,M,103,South,non-urban,General Practice,7
2,0,M,112,Midwest,non-urban,General Practice,7
3,0,M,63,South,non-urban,General Practice,7
4,316,M,1035,West,non-urban,Nephrology,6

In [11]:
raw_data = pd.read_json("lax.json", lines=True, orient='columns')

In [12]:
raw_data.head()

,attribution,averageRating,category,columns,createdAt,description,displayType,downloadCount,flags,grants,...,rowClass,rowsUpdatedAt,rowsUpdatedBy,tableAuthor,tableId,tags,totalTimesRated,viewCount,viewLastModified,viewType
0,Los Angeles World Airports,0,A Prosperous City,"[{'position': 1, 'format': {}, 'tableColumnId'...",1401379158,Number of Flights That Occurred at the Airport,table,601514,"[default, restorable, restorePossibleForType]","[{'flags': ['public'], 'type': 'viewer', 'inhe...",...,,1557932721,gudt-ccne,{'profileImageUrlLarge': '/api/users/gudt-ccne...,1598744,"[lax, airport, terminal, flight, carrier]",0,736,1511966578,tabular

In [19]:
raw_data.flags.apply(pd.Series)

         0           1                       2
0  default  restorable  restorePossibleForType

In [20]:
df2 = raw_data.flags.apply(pd.Series)

In [21]:
df2.head()

         0           1                       2
0  default  restorable  restorePossibleForType

In [23]:
pd4 = raw_data.grants.apply(pd.Series)

In [24]:
pd4.head()

                                                   0
0  {'flags': ['public'], 'type': 'viewer', 'inher...

In [25]:
pd4.apply(pd.Series)

                                                   0
0  {'flags': ['public'], 'type': 'viewer', 'inher...

In [26]:
print(pd4)

                                                   0
0  {'flags': ['public'], 'type': 'viewer', 'inher...