Find the Dataset and explanation at: https://www.kaggle.com/tboyle10/working-with-json-files

In [1]:
import numpy as np
import pandas as pd
import ijson
from pandas.io.json import json_normalize

In [5]:
%%bash
head roam_prescription_based_prediction.json

Couldn't find program: 'bash'

In [6]:
# read in data
raw_data = pd.read_json("roam_prescription_based_prediction.jsonl", 
                        lines=True, 
                        orient='columns')

In [9]:
print(raw_data.shape)

(239930, 3)

In [20]:
raw_data.head(1)

,cms_prescription_counts,npi,provider_variables
0,"{'DOXAZOSIN MESYLATE': 26, 'MIDODRINE HCL': 12...",1295763035,"{'settlement_type': 'non-urban', 'generic_rx_c..."

In [10]:
provider = pd.DataFrame([md for md in raw_data.provider_variables])
provider.head()

,brand_name_rx_count,gender,generic_rx_count,region,settlement_type,specialty,years_practicing
0,384,M,2287,South,non-urban,Nephrology,7
1,0,M,103,South,non-urban,General Practice,7
2,0,M,112,Midwest,non-urban,General Practice,7
3,0,M,63,South,non-urban,General Practice,7
4,316,M,1035,West,non-urban,Nephrology,6

In [2]:
raw_data = pd.read_json("lax.json", lines=True, orient='columns')

In [3]:
raw_data.head()

,attribution,averageRating,category,columns,createdAt,description,displayType,downloadCount,flags,grants,...,rowClass,rowsUpdatedAt,rowsUpdatedBy,tableAuthor,tableId,tags,totalTimesRated,viewCount,viewLastModified,viewType
0,Los Angeles World Airports,0,A Prosperous City,"[{'position': 1, 'format': {}, 'tableColumnId'...",1401379158,Number of Flights That Occurred at the Airport,table,601514,"[default, restorable, restorePossibleForType]","[{'flags': ['public'], 'type': 'viewer', 'inhe...",...,,1557932721,gudt-ccne,{'profileImageUrlLarge': '/api/users/gudt-ccne...,1598744,"[lax, airport, terminal, flight, carrier]",0,736,1511966578,tabular

In [19]:
raw_data.flags.apply(pd.Series)

         0           1                       2
0  default  restorable  restorePossibleForType

In [20]:
df2 = raw_data.flags.apply(pd.Series)

In [21]:
df2.head()

         0           1                       2
0  default  restorable  restorePossibleForType

In [23]:
pd4 = raw_data.grants.apply(pd.Series)

In [24]:
pd4.head()

                                                   0
0  {'flags': ['public'], 'type': 'viewer', 'inher...

In [25]:
pd4.apply(pd.Series)

                                                   0
0  {'flags': ['public'], 'type': 'viewer', 'inher...

In [26]:
print(pd4)

                                                   0
0  {'flags': ['public'], 'type': 'viewer', 'inher...

In [4]:
# create al list from a column in a dataframe
dfList = list(raw_data['columns'])
print(dfList)

[[{'position': 1, 'format': {}, 'tableColumnId': 19995493, 'renderTypeName': 'calendar_date', 'dataTypeName': 'calendar_date', 'name': 'DataExtractDate', 'id': 150436848, 'cachedContents': {'cardinality': '60', 'largest': '2019-05-15T08:00:42.000', 'not_null': '1686', 'top': [{'count': '1166', 'item': '2014-05-01T00:00:00.000'}, {'count': '23', 'item': '2014-07-18T00:00:00.000'}, {'count': '14', 'item': '2017-04-15T08:01:01.000'}, {'count': '12', 'item': '2014-11-15T08:00:12.000'}, {'count': '12', 'item': '2014-12-15T08:00:10.000'}, {'count': '12', 'item': '2015-01-15T08:00:16.000'}, {'count': '11', 'item': '2014-09-15T07:00:09.000'}, {'count': '11', 'item': '2014-10-15T08:00:09.000'}, {'count': '11', 'item': '2014-08-15T09:39:18.000'}, {'count': '10', 'item': '2017-12-15T08:00:40.000'}, {'count': '10', 'item': '2015-10-15T08:00:09.000'}, {'count': '10', 'item': '2015-08-15T08:00:09.000'}, {'count': '10', 'item': '2016-02-15T08:00:12.000'}, {'count': '10', 'item': '2015-05-15T08:00:08.000'}, {'count': '10', 'item': '2015-02-15T08:00:17.000'}, {'count': '10', 'item': '2016-04-15T08:00:57.000'}, {'count': '10', 'item': '2016-05-15T08:00:52.000'}, {'count': '10', 'item': '2015-06-15T08:00:11.000'}, {'count': '10', 'item': '2015-03-16T08:39:41.000'}, {'count': '10', 'item': '2016-03-15T08:01:13.000'}], 'smallest': '2014-05-01T00:00:00.000', 'null': '0', 'non_null': 1672}, 'width': 280, 'fieldName': 'dataextractdate'}, {'position': 2, 'format': {}, 'tableColumnId': 19995494, 'renderTypeName': 'calendar_date', 'dataTypeName': 'calendar_date', 'name': 'ReportPeriod', 'id': 150436849, 'cachedContents': {'cardinality': '159', 'largest': '2019-03-01T00:00:00.000', 'not_null': '1686', 'top': [{'count': '16', 'item': '2017-01-01T00:00:00.000'}, {'count': '12', 'item': '2006-11-01T00:00:00.000'}, {'count': '12', 'item': '2009-04-01T00:00:00.000'}, {'count': '12', 'item': '2014-03-01T00:00:00.000'}, {'count': '12', 'item': '2010-05-01T00:00:00.000'}, {'count': '12', 'item': '2009-09-01T00:00:00.000'}, {'count': '12', 'item': '2014-10-01T00:00:00.000'}, {'count': '12', 'item': '2012-06-01T00:00:00.000'}, {'count': '12', 'item': '2012-04-01T00:00:00.000'}, {'count': '12', 'item': '2012-05-01T00:00:00.000'}, {'count': '12', 'item': '2009-11-01T00:00:00.000'}, {'count': '12', 'item': '2009-06-01T00:00:00.000'}, {'count': '12', 'item': '2010-02-01T00:00:00.000'}, {'count': '12', 'item': '2013-11-01T00:00:00.000'}, {'count': '12', 'item': '2007-01-01T00:00:00.000'}, {'count': '12', 'item': '2010-06-01T00:00:00.000'}, {'count': '12', 'item': '2006-02-01T00:00:00.000'}, {'count': '12', 'item': '2014-02-01T00:00:00.000'}, {'count': '12', 'item': '2010-03-01T00:00:00.000'}, {'count': '12', 'item': '2008-02-01T00:00:00.000'}], 'smallest': '2006-01-01T00:00:00.000', 'null': '0', 'non_null': 1672}, 'width': 244, 'fieldName': 'reportperiod'}, {'position': 3, 'format': {}, 'tableColumnId': 19995495, 'renderTypeName': 'text', 'dataTypeName': 'text', 'name': 'FlightType', 'id': 150436850, 'cachedContents': {'cardinality': '3', 'largest': 'Scheduled', 'not_null': '1686', 'top': [{'count': '640', 'item': 'Scheduled'}, {'count': '588', 'item': 'Charter'}, {'count': '458', 'item': 'Commuter'}], 'smallest': 'Charter', 'null': '0', 'non_null': 1672}, 'width': 220, 'fieldName': 'flighttype'}, {'position': 4, 'format': {}, 'tableColumnId': 19995496, 'renderTypeName': 'text', 'dataTypeName': 'text', 'name': 'Arrival_Departure', 'id': 150436851, 'cachedContents': {'cardinality': '2', 'largest': 'Departure', 'not_null': '1686', 'top': [{'count': '860', 'item': 'Arrival'}, {'count': '826', 'item': 'Departure'}], 'smallest': 'Arrival', 'null': '0', 'non_null': 1672}, 'width': 304, 'fieldName': 'arrival_departure'}, {'position': 5, 'format': {}, 'tableColumnId': 19995497, 'renderTypeName': 'text', 'dataTypeName': 'text', 'name': 'Domestic_International', 'id': 150436852, 'cachedContents': {'cardinality': '2', 'largest': 'International', 'not_null': '1686', 'top': [{'count': '884', 'item': 'Domestic'}, {'count': '802', 'item': 'International'}], 'smallest': 'Domestic', 'null': '0', 'non_null': 1672}, 'width': 364, 'fieldName': 'domestic_international'}, {'position': 6, 'format': {}, 'tableColumnId': 19995498, 'renderTypeName': 'number', 'dataTypeName': 'number', 'name': 'FlightOpsCount', 'id': 150436853, 'cachedContents': {'cardinality': '827', 'largest': '22989', 'not_null': '1686', 'top': [{'count': '55', 'item': '1'}, {'count': '48', 'item': '3'}, {'count': '45', 'item': '2'}, {'count': '32', 'item': '4'}, {'count': '30', 'item': '6'}, {'count': '28', 'item': '5'}, {'count': '23', 'item': '7'}, {'count': '21', 'item': '31'}, {'count': '19', 'item': '8'}, {'count': '19', 'item': '16'}, {'count': '18', 'item': '62'}, {'count': '18', 'item': '60'}, {'count': '18', 'item': '93'}, {'count': '17', 'item': '9'}, {'count': '17', 'item': '10'}, {'count': '16', 'item': '11'}, {'count': '16', 'item': '30'}, {'count': '15', 'item': '12'}, {'count': '13', 'item': '24'}, {'count': '13', 'item': '13'}], 'smallest': '0', 'non_null': 1672, 'null': '0', 'sum': '7584442', 'average': '4536.149521531100'}, 'width': 268, 'fieldName': 'flightopscount'}]]

check deze url voor unpacking van bovenstaande: https://teamtreehouse.com/community/unpacking-challenge-how-do-you-unpack-within-a-list-of-dictionaries